export(assignLinage)
exportClasses(metaCVReport)
export(extractEukaryoticDB)
export(extractProkaryoticDB)
export(mergeMetaCVwithBlast)
exportMethods(getByScore)
exportMethods(getGeneID)
exportMethods(getGeneIDbyTaxID)
exportMethods(getReadName)
exportMethods(getScore)
exportMethods(getTaxID)
exportMethods(getTaxName)
exportMethods(metaCVReport)
exportMethods(taxonCount)
export(researchTaxIds)
