export(LCA)
export(assignTaxon)
export(compareMetaCVwithBlast)
export(connectTaxonDB)
export(createKronaFile)
export(createTable)
export(createTaxonDB)
export(createTaxonomyReportDB)
export(dropTable)
export(importMetaCV)
export(runKronaWebtools)
export(selectByRank)
export(selectByScore)
export(taxonomyReportDBConnect)
export(updateTable)
export(updateTaxonDB)
exportClasses(metaCVReport)
exportClasses(taxonomyReportDB)
exportMethods(countTaxa)
exportMethods(getAccession)
exportMethods(getAlignLen)
exportMethods(getBitscore)
exportMethods(getCogID)
exportMethods(getDefinition)
exportMethods(getEvalue)
exportMethods(getGaps)
exportMethods(getGeneID)
exportMethods(getHitFrame)
exportMethods(getHitFrom)
exportMethods(getHitID)
exportMethods(getHitLen)
exportMethods(getHitNum)
exportMethods(getHitSeq)
exportMethods(getHitTo)
exportMethods(getHspID)
exportMethods(getHspNum)
exportMethods(getIdentity)
exportMethods(getKeggID)
exportMethods(getLineage)
exportMethods(getMatch)
exportMethods(getOtherName)
exportMethods(getParentTaxID)
exportMethods(getPositive)
exportMethods(getQueryDef)
exportMethods(getQueryFrame)
exportMethods(getQueryFrom)
exportMethods(getQueryID)
exportMethods(getQueryLen)
exportMethods(getQuerySeq)
exportMethods(getQueryTo)
exportMethods(getRank)
exportMethods(getScientificName)
exportMethods(getScore)
exportMethods(getTaxID)
exportMethods(getTaxon)
exportMethods(has_ranks)
import(methods)
importClassesFrom(DBI,DBIConnection)
importClassesFrom(DBI,DBIObject)
importClassesFrom(RSQLite,SQLiteConnection)
importClassesFrom(RSQLite,SQLiteObject)
importClassesFrom(RSQLite,dbObjectId)
importClassesFrom(blastr,blastReportDB)
importClassesFrom(ncbi,Taxon)
importClassesFrom(ncbi,TaxonList)
importFrom(RSQLite,dbListFields)
importFrom(RSQLite,dbListTables)
importFrom(assertthat,'%has_name%')
importFrom(assertthat,assert_that)
importFrom(assertthat,is.readable)
importFrom(blastr,blastReportDBConnect)
importFrom(blastr,getGeneID)
importFrom(blastr,getHitID)
importFrom(blastr,getQueryCoverage)
importFrom(blastr,getScore)
importFrom(iterators,iter)
importFrom(iterators,nextElem)
importFrom(ncbi,geneidDBConnect)
importFrom(ncbi,getByRank)
importFrom(ncbi,getLineage)
importFrom(ncbi,getOtherName)
importFrom(ncbi,getParentTaxID)
importFrom(ncbi,getRank)
importFrom(ncbi,getScientificName)
importFrom(ncbi,getTaxID)
importFrom(ncbi,taxonByGeneID)
importFrom(ncbi,taxonDB)
importFrom(ncbi,taxonDBConnect)
importFrom(plyr,arrange)
importFrom(plyr,desc)
importFrom(plyr,llply)
importFrom(rmisc,"%has_tables%")
importFrom(rmisc,'%||%')
importFrom(rmisc,compact)
importFrom(rmisc,db_bulk_insert)
importFrom(rmisc,db_connect)
importFrom(rmisc,db_count)
importFrom(rmisc,db_create)
importFrom(rmisc,db_query)
importFrom(rmisc,is.empty)
importFrom(rmisc,nunique)
importFrom(rmisc,trim)
